.mainSkeleton {
    min-width: 100vh;
    min-height: 100vh;
    background-color: #a1a1a1;
}

.backgroundSkeleton {
    min-height: 20vh;
    min-width: 80vh;
    background: linear-gradient(0deg, #f0f0f0 25%, #e0e0e0 50%, #f0f0f0 75%);
}

.dataSkeleton {
    display: flex;
    justify-content: space-around;
    min-height: 75vh;
    min-width: 95vh;
    margin: 2.5vh;
    /*background-color: blue;*/
    border-radius: 0.75rem;
}

.dataSkeleton div {
    background: linear-gradient(90deg, #f0f0f0 25%, #e0e0e0 50%, #f0f0f0 75%);
    border-radius: 0.75rem;
}

.coverSkeleton {
    position: relative;
    top: -7em;
    min-width: 40vh;
    height: 40vh;
    margin: 2.5vh;
}

.moreDataSkeleton {
    min-width: 80vh;
    min-height: 70vh;
    margin: 2.5vh 0;
}

.newsSkeleton {
    min-width: 40vh;
    min-height: 70vh;
    margin: 2.5vh;
}
