.popup-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 900;
}

.popup-content {
    background: white;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    position: relative;
    z-index: 1000;
}

.container-popup {
    display: flex;
    justify-content: center;
    align-items: center;
}

.cancel-button {
    background-color: #ff4c4c;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
}

.cancel-button:hover {
    background-color: #ff1a1a;
}

.donate-button {
    background-color: #de8143;
    color: white;
    border: none;
    padding: 10px 12px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
}

.donate-button:hover {
    background-color: #b94d06;
}

.number-input {
    margin-top: 20px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: calc(100% - 22px); /* Para mantener el ancho consistente con el padding */
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1);
    transition: border-color 0.3s, box-shadow 0.3s;
}

.number-input:focus {
    border-color: #007bff;
    box-shadow: 0 0 8px rgba(0, 123, 255, 0.6);
    outline: none;
}

/* Ocultar los botones de incremento/decremento en navegadores Webkit (Chrome, Safari) */
.number-input::-webkit-outer-spin-button,
.number-input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Ocultar los botones de incremento/decremento en navegadores basados en Firefox */
.number-input[type='number'] {
    -moz-appearance: textfield;
}