.new-popup-container {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.newTitleDiv, .newDescDiv {
    display: flex;
    flex-direction: column;
}

.newTitleDiv {
    margin-right: 20px;
}

.newTitleDiv label, .newDescDiv label {
    margin-right: 10px;
}