.shelvesPopUp {
    background-color: #fd8240;
    padding: 3%;
    margin: 1em 0 1em 15px;
    border-radius: 1rem;
    width: 400px;
}
.shelvesPopUp button {
    background-color: #fb813f;
    padding: 0.4em;
    border-radius: 2em;
    color: white;
    width: auto;
}

.shelf {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #ffffff;
    padding: 2%;
    margin-bottom: 0.8em;
    border-radius: 5px;
}

.shelfCreator {
    display: flex;
    flex-direction: column;
    background-color: #ffffff;
    padding: 2%;
    border-radius: 5px;
}

.shelfAttributes {
    display: flex;
    justify-content: space-between;
    margin-bottom: 0.7em;
}
.shelfAttributes input {
    border: 1px solid black;
    margin: 0;
}
.shelfAttributes label {
    display: flex;
    align-items: center;
}
