.gameView {
    display: flex;
    flex-direction: column;
}
.gameView p {
    word-break: break-all;
}

.titleDiv {
    padding: 1em;
    margin-bottom: 10em;
}
.titleDiv h1 {
    display: inline-block;
    font-size: 3em;
    color: #ff6d11;
    font-weight: bold;
    text-decoration: underline;
    font-style: italic;
    background-color: white;
    word-break: break-all;
}

.dataDiv {
    display: flex;
    align-items: flex-start;
    flex-direction: row;
    min-height: 100vh;
    background-color: #ffffff;
}
.dataDiv h2 {
    font-size: 2em;
}

.coverDiv {
    position: relative;
    top: -7em;
    padding: 1em;
    width: 50%;
}
.coverDiv img {
    width: 100%;
    height: 100%;
}

.newsDiv {
    display: flex;
    align-items: flex-start;
    width: 30%;
    height: 100%;
}

.options {
    display: flex;
}
.options div {
    margin-right: 1em;
}

.optionImage img {
    background-color: #fd8240;
    padding: 10%;
    width: 3em;
    height: 3em;
    border-radius: 0.5em;
    transition: background-color 0.2s ease;
}
.acceptOptionImage img:hover {
    background-color: #3fbf45;
}
.rejectOptionImage img:hover {
    background-color: #e32525;
}

.moreDataDiv {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    padding: 1em;
    width: 100%;
}
.moreDataDiv div {
    padding: 1%;
}

.attributesDiv {
    width: 100%;
    border-bottom: 0.2em solid #000000;
}

.reviewsDiv {
    width: 100%;
}
.reviewsDiv button {
    background-color: #fd8240;
    color: white;
    padding: 0.5em;
    border-radius: 2em;
    width: auto;
}
.reviewsDiv textarea {
    width: 100%;
    border: 1px solid black;
    margin-right: 1em;
}

.publishReviewDiv {
    display: flex;
    align-items: center;
}

/*pensar*/
.reviewsDiv img {
    width: 4.5em;
    height: 4.5em;
    margin-right: 0.5em;
}
/*pensar*/

.reviewDiv {
    display: flex;
    align-items: center;
    flex-direction: row;
    width: 100%;
    margin-top: 1em;
    background-color: #d1d1d1;
}
.reviewDiv p {
    width: 100%;
}

.errorMessageDiv {
    background-color: #ffa6a6;
    color: #c30101;
    padding: 1em;
    margin: 1em 0;
    border-radius: 0.5em;
}

#backImg {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
}

#special {
    opacity: 0;
    width: 4.5em;
    height: 4.5em;
    margin-right: 0.5em;
}

.newsExtraSkeleton {
    width: 100%;
    min-height: 100vh;
    background: linear-gradient(90deg, #f0f0f0 25%, #e0e0e0 50%, #f0f0f0 75%);
    border-radius: 0.75rem;
}
.newsDiv {
    padding: 1em;
}
.newsDiv div {
    padding: 1%;
    width: 100%;

}
.newsDiv li {
    background-color: #fd8240;
    padding: 1em;
    margin-bottom: 0.5em;
    border-radius: 1em;
}
.newsDiv h3 {
    text-wrap: wrap;
    overflow-wrap: break-word;
}

#noNews {
    color: black;
}

.deletionButton {
    background-color: #ff3b3b;
    color: white;
    border-radius: 2em;
    padding: 0.5em;
    margin-top: 0.5em;
    transition: background-color 0.2s ease;
}
.deletionButton:hover {
    background-color: #c30101;
}

#plus {
    width: 2.7em;
    height: 2.7em;
    padding: 2%;
    background-color: #fd8240;
    border-radius: 0.5em;
    transition: background-color 0.2s ease;
}
#plus:hover {
    background-color: #3fbf45;
}
.addNewDiv {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 0.7em;
    background-color: #fd8240;
}
.addNewDiv div {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 0 0.7em;
}
.addNewDiv label {
    color: white;
}
.addNewDiv button {
    background-color: #11a605;
    color: white;
    border-radius: 1em;
    padding: 0.5em;
    margin: 0.5em;
}

h3 {
    font-style: italic;
    font-size: 1.5em;
    color: white;
}
