.gameView {
    display: flex;
    /*align-items: center;*/
    justify-content: center;
    flex-direction: column;
    /*background-color: #4F2E8C;*/
    background-color: #ffffff;
    padding: 3%;
    margin: 10%;
    border-radius: 25px;
}

.gameData {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
}
.gameData div {
    padding: 3%
}

.gamePicture {
    width: 30%;
    height: 45%;
}
.gamePicture img {
    width: 100%;
    height: 100%;
}

.gameAttributes h1 {
    font-size: 3em;
    color: #ff6d11;
    text-decoration: underline;
}
.gameAttributes p {
    font-size: 1.2em;
}

.reviews {
    display: flex;
    justify-content: center;
}

.reviewsSection .comment p {
    word-break: break-all;
}

.loadingScreen {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #ffffff;
    padding: 3%;
    margin: 10% 20%;
    /*width: 50em;*/
    /*height: 10em;*/
    border-radius: 25px;
}