.gameView {
    display: flex;
    flex-direction: column;
    /*min-height: 100vh;*/
}

.gameView h2 {
    font-size: 2em;
    color: white;
}
.gameView p {
    color: white;
    word-break: break-all;
}

.titleDiv {
    padding: 2%;
}
.titleDiv h1 {
    font-size: 3em;
    color: #ff6d11;
    text-decoration: underline;
    word-break: break-all;
}

.dataDiv {
    display: flex;
    align-items: flex-start;
    flex-direction: row;
    min-height: 100vh;
    background-color: #3f21aa;
}
.dataDiv div {
    padding: 1%;
}

.coverDiv {
    /*flex-grow: 2;*/
    width: 50%;
}
.coverDiv img {
    width: 100%;
    height: 100%;
}

.newsDiv {
    display: flex;
    align-items: flex-start;
    /*flex-grow: 1;*/
    width: 30%;
    height: 100%;
}

.moreDataDiv {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    width: 100%;
}

.attributesDiv {
    width: 100%;
    border-bottom: 0.1em solid white;
}

.reviewsDiv img {
    width: 7%;
    height: 7%;
}

.reviewDiv {
    display: flex;
    align-items: center;
    flex-direction: row;
    margin: 0.7em;
    background-color: #5b3fbf;
}

.errorMessageDiv {
    background-color: #ffa6a6;
    color: #c30101;
    border-radius: 0.5em;
}

#backImg {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
}

#special {
    opacity: 0;
}

.newsDiv li {
    background-color: #5b3fbf;
    padding: 1em;
    margin-bottom: 0.5em;
}

h3 {
    font-style: italic;
    font-size: 1.5em;
    color: white;
}
