.viewsContainer{
    display: flex;
    flex-direction: row;
    background-color: #4F2E8C;
    position: fixed;
    height: 5em;
    width: 100%;
    top: 0;
}

.logo{
    display: flex;
    flex-direction: row;
    flex: 1 1 0;
    padding: 1%;
    align-items: center;
    justify-content: left;
}
.logo img{
    width: 3em;
    height: 3em;
    padding-right: 4%;
}

.goTo{
    display: flex;
    flex-direction: row;
    flex: 1 1 0;
    padding: 1%;
    align-items: center;
    justify-content: center;
}

.user{
    display: flex;
    flex-direction: row;
    flex: 1 1 0;
    padding: 1%;
    align-items: center;
    justify-content: right;
}
.user img{
    width: 5em;
    height: 5em;
    padding-right: 4%;
}

a {
    color: inherit;
    text-decoration: none; /* no underline */
}